name: Publish to pub.dev

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 1
      
      - name: Apply patches
        run: |
          git apply third_party/patches/00-bergamot-translator.patch

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
  
      - name: Flutter pub get
        run: flutter pub get

      - name: Setup Pub Credentials
        uses: dart-lang/setup-dart@v1

      - name: Flutter pub publish
        run: dart pub publish --force
